<footer>
    <style>
        .sub1_espaçamento_topo {
            margin-top: 30px;
        }
    </style>
    <div>
        <h4 class="sub1_espaçamento_topo">Next Level Software Studio</h4>
        <p>Desde 2025</p>
        <p>Desenvolvimento de Jogos e Programas.</p>
        <br>
        <a href="https://github.com/NextLevelSoftwareStudio/nextlevelsoftwarestudio/commit/21a4cb50e10a63fb9f338ac6c50f097d48d61e28">Commit inicial do repositório do site.</a>
        <br>
    </div>
    <nav>
        <a href="{{ site.baseurl }}/index.html">Início</a>
        <br>
        <a href="{{ site.baseurl }}/wiki.html">Documentação</a>
        <br>
        <a href="https://github.com/NextLevelSoftwareStudio/nextlevelsoftwarestudio">Repositório do site</a>
    </nav>
</footer>