.títuloPrincipal {
    text-align: center;
    margin-bottom: 40px;
}
.sub1_espaçamento_baixo {
    margin-bottom: 30px;
}
.sub1_espaçamento_topo {
    margin-top: 30px;
}
.sub1_espaçamento_duplo {
    margin-bottom: 30px;
    margin-top: 30px;
}
table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  text-align: center;
  vertical-align: middle;
}